.grass{
    background-color: #63BB5B;
}

.fire{
    background-color: #FF9C54;
}

.water{
    background-color: #4D90D5;
}

.poison{
    background-color: #AB6AC8;
}

.flying{
    background-color: #92AADE;
}

.bug{
    background-color: #90C12C;
}

.normal{
    background-color: #9099A1;
}

.electric{
    background-color: #F3D23B;
}

.ground{
    background-color: #D97746;
}

.psychic{
    background-color: #F97176;
}

.rock{
    background-color: #C7B78B;
}

.ghost{
    background-color: #5269AC;
}

.fairy{
    background-color: #EC8FE6;
}

.fighting{
    background-color: #CE4069;
}

.ice{
    background-color: #74CEC0;
}

.dragon{
    background-color: #096DC4;
}

.dark{
    background-color: #5A5366;
}

.steel{
    background-color: #5A8EA1;
}
